In [1]:
# Artificial Neural Network

In [2]:
# installing Keras
# conda install -c conda-forge keras

In [3]:
# Installing Theano
# pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

# Installing Tensorflow
# Install Tensorflow from the website: https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html

# Installing Keras
# pip install --upgrade keras

In [4]:
#import necessary Libraries

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# Read in data into a dataframe

In [7]:
data = pd.read_csv('data/Churn_Modelling.csv')

In [8]:
# Check with info for the dataframe : 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
# Copy the original data
features = data.copy()

In [10]:
# Drop Columns 'RowNumber','CustomerId','Surname','Geography'
features.drop(['RowNumber','CustomerId','Surname','Geography'],axis=1,inplace=True)

In [11]:
# Select the numeric columns
features.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
# Select the categorical columns
numerical_subset = features.select_dtypes('number')
categorical_subset = features['Gender']

In [13]:
# One hot encode
categorical_subset = pd.get_dummies(categorical_subset)
categorical_subset.head()

   Female  Male
0       1     0
1       1     0
2       1     0
3       1     0
4       1     0

In [14]:
# Join the two dataframes using concat (named it as 'updated_features')
# Make sure to use axis = 1 to perform a column bind
updated_features = pd.concat([numerical_subset,categorical_subset],axis=1)
updated_features.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0

In [15]:
# Check Shape
updated_features.shape

(10000, 11)

In [16]:
# Separate out the features and targets ('X' and 'y')
X = updated_features.drop(columns='Exited')
y= pd.DataFrame(updated_features['Exited'])

In [17]:
# Splitting data into training and testing
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [19]:
# Print the Shape of X_train, X_test, y_train, y_test
y_train.shape

(6700, 1)

In [20]:
# Convert y to one-dimensional array (vector)
y_train = np.array(y_train).reshape((-1,))
y_test = np.array(y_test).reshape((-1,))
y_train.shape

(6700,)

In [21]:
# Import KERAS

In [22]:
import keras

Using TensorFlow backend.

In [23]:
# Import Necessary Packages from Keras Specially Two Class 'Sequential' from Keras.Models and 'Dense' from Keras.Layers

In [24]:
from keras.models import Sequential
from keras.layers import Dense

In [25]:
# Initialize the ANN

In [26]:
classifier = Sequential()

In [27]:
# Adding the input layer and the first hidden layer

In [28]:
classifier.add(Dense(output_dim=5,kernel_initializer='uniform',activation='relu',input_dim=10))

C:\Users\iverson\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="relu", input_dim=10, units=5)`
  """Entry point for launching an IPython kernel.

In [29]:
# Adding the second hidden layer
classifier.add(Dense(output_dim=5,kernel_initializer='uniform',activation='relu',input_dim=10))

C:\Users\iverson\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="relu", input_dim=10, units=5)`

In [30]:
# Adding the output layer
classifier.add(Dense(output_dim=1,kernel_initializer='uniform',activation='sigmoid'))

C:\Users\iverson\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="sigmoid", units=1)`

In [31]:
# Compiling the ANN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [32]:
# Fitting the ANN to the Training set
classifier.fit(X_train,y_train,batch_size=10,epochs=50)

Epoch 1/50
6700/6700 [==============================] - 1s 223us/step - loss: 0.5547 - accuracy: 0.7919
Epoch 2/50
6700/6700 [==============================] - 1s 156us/step - loss: 0.5358 - accuracy: 0.7919
Epoch 3/50
6700/6700 [==============================] - 1s 157us/step - loss: 0.5199 - accuracy: 0.7919
Epoch 4/50
6700/6700 [==============================] - 1s 158us/step - loss: 0.5131 - accuracy: 0.7919
Epoch 5/50
6700/6700 [==============================] - 1s 157us/step - loss: 0.5091 - accuracy: 0.7919
Epoch 6/50
6700/6700 [==============================] - 1s 161us/step - loss: 0.5057 - accuracy: 0.7919
Epoch 7/50
6700/6700 [==============================] - 1s 161us/step - loss: 0.5065 - accuracy: 0.7919
Epoch 8/50
6700/6700 [==============================] - 1s 165us/step - loss: 0.5079 - accuracy: 0.7919
Epoch 9/50
6700/6700 [==============================] - 1s 180us/step - loss: 0.5054 - accuracy: 0.7919
Epoch 10/50
6700/6700 [==============================] - 1s 194us/step - loss: 0.5054 - accuracy: 0.7919
Epoch 11/50
6700/6700 [==============================] - 1s 168us/step - loss: 0.5056 - accuracy: 0.7919
Epoch 12/50
6700/6700 [==============================] - 2s 232us/step - loss: 0.5051 - accuracy: 0.7919
Epoch 13/50
6700/6700 [==============================] - 1s 183us/step - loss: 0.5061 - accuracy: 0.7919
Epoch 14/50
6700/6700 [==============================] - 1s 164us/step - loss: 0.5050 - accuracy: 0.7919
Epoch 15/50
6700/6700 [==============================] - 1s 163us/step - loss: 0.5059 - accuracy: 0.7919
Epoch 16/50
6700/6700 [==============================] - 1s 167us/step - loss: 0.5060 - accuracy: 0.7919
Epoch 17/50
6700/6700 [==============================] - 1s 169us/step - loss: 0.5051 - accuracy: 0.7919
Epoch 18/50
6700/6700 [==============================] - 1s 165us/step - loss: 0.5044 - accuracy: 0.7919
Epoch 19/50
6700/6700 [==============================] - 1s 168us/step - loss: 0.5060 - accuracy: 0.7919
Epoch 20/50
6700/6700 [==============================] - 1s 170us/step - loss: 0.5045 - accuracy: 0.7919
Epoch 21/50
6700/6700 [==============================] - 1s 175us/step - loss: 0.5041 - accuracy: 0.7919
Epoch 22/50
6700/6700 [==============================] - 1s 172us/step - loss: 0.5075 - accuracy: 0.7919
Epoch 23/50
6700/6700 [==============================] - 1s 174us/step - loss: 0.5124 - accuracy: 0.79190s - loss: 0.5125 - accuracy:
Epoch 24/50
6700/6700 [==============================] - 1s 171us/step - loss: 0.5108 - accuracy: 0.7919
Epoch 25/50
6700/6700 [==============================] - 1s 173us/step - loss: 0.5108 - accuracy: 0.7919
Epoch 26/50
6700/6700 [==============================] - 1s 172us/step - loss: 0.5107 - accuracy: 0.7919
Epoch 27/50
6700/6700 [==============================] - 1s 173us/step - loss: 0.5106 - accuracy: 0.7919
Epoch 28/50
6700/6700 [==============================] - 1s 168us/step - loss: 0.5109 - accuracy: 0.7919
Epoch 29/50
6700/6700 [==============================] - 1s 177us/step - loss: 0.5110 - accuracy: 0.7919
Epoch 30/50
6700/6700 [==============================] - 1s 182us/step - loss: 0.5111 - accuracy: 0.7919
Epoch 31/50
6700/6700 [==============================] - 1s 175us/step - loss: 0.5106 - accuracy: 0.7919
Epoch 32/50
6700/6700 [==============================] - 1s 175us/step - loss: 0.5083 - accuracy: 0.7919
Epoch 33/50
6700/6700 [==============================] - 1s 172us/step - loss: 0.5110 - accuracy: 0.7919
Epoch 34/50
6700/6700 [==============================] - 1s 180us/step - loss: 0.5109 - accuracy: 0.7919
Epoch 35/50
6700/6700 [==============================] - 1s 174us/step - loss: 0.5095 - accuracy: 0.7919
Epoch 36/50
6700/6700 [==============================] - 1s 175us/step - loss: 0.5061 - accuracy: 0.7919
Epoch 37/50
6700/6700 [==============================] - 1s 181us/step - loss: 0.5069 - accuracy: 0.7919
Epoch 38/50
6700/6700 [==============================] - 1s 175us/step - loss: 0.5047 - accuracy: 0.7919
Epoch 39/50
6700/6700 [==============================] - 1s 174us/step - loss: 0.5039 - accuracy: 0.7919
Epoch 40/50
6700/6700 [==============================] - 1s 178us/step - loss: 0.5034 - accuracy: 0.7919
Epoch 41/50
6700/6700 [==============================] - 1s 182us/step - loss: 0.5031 - accuracy: 0.7919
Epoch 42/50
6700/6700 [==============================] - 1s 188us/step - loss: 0.5029 - accuracy: 0.7919
Epoch 43/50
6700/6700 [==============================] - 1s 179us/step - loss: 0.5027 - accuracy: 0.7919
Epoch 44/50
6700/6700 [==============================] - 1s 173us/step - loss: 0.5026 - accuracy: 0.7919
Epoch 45/50
6700/6700 [==============================] - 1s 179us/step - loss: 0.5024 - accuracy: 0.7919
Epoch 46/50
6700/6700 [==============================] - 1s 174us/step - loss: 0.5026 - accuracy: 0.7919
Epoch 47/50
6700/6700 [==============================] - 1s 174us/step - loss: 0.5025 - accuracy: 0.7919
Epoch 48/50
6700/6700 [==============================] - 1s 174us/step - loss: 0.5024 - accuracy: 0.7919
Epoch 49/50
6700/6700 [==============================] - 1s 176us/step - loss: 0.5025 - accuracy: 0.7919
Epoch 50/50
6700/6700 [==============================] - 1s 179us/step - loss: 0.5024 - accuracy: 0.7919

In [33]:
# Making the predictions and evaluating the model
y_pred = classifier.predict(X_test)
# Predicting the Test set results
y_pred = y_pred > 0.5
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [34]:
# Making the Confusion Matrix and Classification Report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [35]:
# Confusion Matrix

In [36]:
confusion_matrix

In [37]:
# Classification Report

In [38]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      1.00      0.89      2657
           1       0.00      0.00      0.00       643

    accuracy                           0.81      3300
   macro avg       0.40      0.50      0.45      3300
weighted avg       0.65      0.81      0.72      3300

C:\Users\iverson\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)